.app {
    min-height: 100vh;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
}

.header-wrapper {
    padding: 50px 0;
}

.home-wrapper {
    padding-top: 137px;
    padding-bottom: 100px;
    color: "#fff";
}

.pro-card {
    background-color: #FFFFFF;
    padding: 30px;
}